/* Write your CSS here */
.bg-container {
  height: 100vh;
  background-image: url(https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png);
  background-size: cover;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  min-height: 400px;
  background-color: #ffffff;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  font-family: 'Roboto';
  text-align: center;
}

@media screen and (min-width: 768px) {
  .card {
    width: 35%;
  }
}

.heading {
  font-size: 25px;
  color: #0b69ff;
  font-weight: bold;
}

.para {
  font-size: 16px;
  color: #333333;
  max-width: 255px;
  font-weight: 500;
}

.button {
  margin-top: 25px;
  padding: 10px;
  border-radius: 10px;
  background-color: #0b69ff;
  color: #ffffff;
  border-style: none;
  font-size: 16px;
  font-weight: bold;
}

.counter {
  font-size: 60px;
  color: #0b69ff;
  font-weight: bold;
}
